*.class

# MAC #
.DS_Store

# SASS cache #
.sass-cache

# target folders #
web/target/*
core/target/*

# IDE Files #
*.iml
.idea

# Package Files #
*.jar
*.war
*.ear

web/src/main/resources/production.properties
