#header {
    position: relative;
    color: #666;
    text-shadow: 0px 1px 1px #D3D3D3;

}

#content {
    margin: 0;
}

.main {
    margin: 10px 0;
}

#logo-container {
    color: #707070;
    font-family: "League-Gothic", Courier;
    font-size: 40px;
}

.lifted:after {
    -moz-transform: rotate(3deg);
    left: auto;
    right: 10px;
}

.lifted:before, .lifted:after {
    -moz-transform: rotate(-3deg);
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    height: 50px;
    left: 10px;
    max-width: 300px;
    width: 50%;
}

.drop-shadow:before, .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.lifted:before, .lifted:after {
    -moz-transform: rotate(-3deg);
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    height: 50px;
    left: 10px;
    max-width: 300px;
    width: 50%;
}

.drop-shadow:before, .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.rotated {
    -moz-transform: rotate(-3deg);
    box-shadow: none;
}

.lifted {
    border-radius: 4px 4px 4px 4px;
}

.drop-shadow {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    float: left;
    margin: 0.5em 10px 0.5em;
    padding: 0 1em;
    position: relative;
}

.rotated > *:first-child:before {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.drop-shadow p {
    font-size: 35pt;
    font-weight: bold;
    padding: 1em 10px 1em;
    margin: 0;
}

.line-break {
    clear: both;
}

.m {
    margin: 0 auto;
    width: 990px;
}

#footer {
    color: #666;
    height: 30px;
    text-align: center;
    text-shadow: 0px 1px 1px #D3D3D3;
    padding-top: 10px;
    padding-bottom: 15px;
}
